.jumbotron.text-center
  .container
    %h2 People
    .btn-group{"role" => "group", "aria-label" => "Default Button Groups"}
      %button.btn.btn-default{"type" => "button"} Everyone
      %button.btn.btn-default{"type" => "button"} Friends
      %button.btn.btn-default{"type" => "button"} Requests
      %button.btn.btn-default{"type" => "button"} Pending

.container
  .row
  = render @users 