.jumbotron
  .container
    .row
      .col-md-4
        = gravatar_tag @user.email, size: 200
      .col-md-4
        %h3= @user.username
        %p Age:
        %p Gender:
      .col-md-4
        %h3 Who am I
        %small
          Bio boiewinf ofweioh foiwef weoifj woejf ioewjf woeijnf ijewñfñ wehfñluh l