
.landing
  .container
    .row.text-center
      .jumbotron.front-title
        %h1 Welcome to StukBook
        %h3 A cool freaking yet not done place
        =link_to "sign up", new_user_registration_path, class: "btn btn-primary btn-lg"