.panel.panel-default
  .panel-heading
    =gravatar_tag post.user.email, size: 20
    =post.user.username
    posted about
    =time_ago_in_words(post.created_at)
    ago
    - if current_user && current_user == post.user
      = link_to "edit", edit_post_path(post)
      |
      = link_to "X", post_path(post), method: :delete
  .panel-body
    =post.content_html